// variables

// colour pallete
$primary-color: #2f80ed;
$secondary-color: #eaf2fd;
$tertiary-color: #fc3a3a;
$quaternary-color: #ffecec;
$bg-primary: #ffffff;
$bg-secondary: #f6f7fa;
$text-primary: #34364a;
$text-secondary: #8594a7;

// typography brand
$poppins-bold: 'Poppins-Bold';
$poppins-semibold: 'Poppins-SemiBold';
$poppins-medium: 'Poppins-Medium';
$poppins-regular: 'Poppins-Regular';

// font path
$font-path: '../fonts/';
